.container {
    position: absolute;
    top: 0;
    left: 78px;
    background-color: rgb(216, 216, 216);
    min-height: 100%;
    width: calc(100% - 78px);
    padding: 10px 10px;
    transition: all 0.5s ease;
}

.container.active {
    left: 240px;
    width: calc(100% -240px);
}